body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    
}
/*heder-area*/
.heder-area{
    background-image: url("img/shapes/7.png");
    background-repeat: no-repeat;
    padding-bottom:30px;
}
h1{
    font-size:55px;
}
.heder-area p{
    line-height: 1.6;
}
.midel-span{
    color: orange;
}
section{
    display:flex;
    margin-bottom: 100px;
}
.container{
    width: 50%;
    padding-left: 10%;
}
.container img{
    width: 80%;
}
#hero-bnt{
    text-decoration: none;
    background-image: linear-gradient(180deg, green, blue, yellow);
    padding:15px;
    color: #fff;
    margin-bottom: 10px;
    border-radius:30px;
    font-weight: 800;
}
.middle-area{
    background-image: url("img/shapes/Frame 58.jpg");
    background-repeat: no-repeat;
    padding:50px;
}
.container h2{
    font-size:30px;
    font-weight:bold;
    padding-bottom: 20px;
}
.middle-area p{
    line-height: 1.6;
}
.middle-area a{
    background-image: linear-gradient(180deg, red, yellow);
    padding:20px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 30px;
    border-radius:30px;
    font-weight: 800;
}


/*services-area design here*/

.services{
   
    padding: 50px 0;

}
 .services.services> h3{
    font-size: 40px;
    color:black;
    margin:0;
    padding: 40px;
    text-align: center;
    letter-spacing: 4px;
}
.services.services> p{
    font-size: 19px;
    color:black;
    width: 58%;
    margin: 10px auto;
    text-align: center;
    
}

.services-boxes{
   
    margin-top: 50px;
    
}
.services-boxes .box{
    width:25%;
    display: inline-block;
    padding:30px;
    border-radius: 18px;
    box-shadow:10px 10px 40px #D5D8DC; 
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 2%;
    padding-right: 2%;
 
}
.box img{
    width: 100%;
    
    border-radius: 20px;
   
}
.services-boxes.box P{
    color: #fff;
    width: 80%;
    margin: auto;
    
}
